<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62990481402-jeu0usna1917pj7o6g79116g0hi3vkmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62990481402-jeu0usna1917pj7o6g79116g0hi3vkmr</string>
	<key>API_KEY</key>
	<string>AIzaSyCjIHdMOe_d-xlvnBaGDP3uxUjZXTmRfkY</string>
	<key>GCM_SENDER_ID</key>
	<string>62990481402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poemer</string>
	<key>PROJECT_ID</key>
	<string>poemer-f4001</string>
	<key>STORAGE_BUCKET</key>
	<string>poemer-f4001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62990481402:ios:3b3b6209187804506e1643</string>
</dict>
</plist>